<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>{{project_name}}</title>
</head>
<body>
    <h1>{{project_name}}</h1>
<section class="cats">
    {{#each cats}}
    <h3>{{this.name}}</h3>
    <img src="{{this.image_path}}" />
    {{/each}}
<section>
</body>
</html>
